<% provide(:title, "Home") %>
<body class="unique">
  <div class="title_container">
    <h1>Explore and review</h1>
    <%= link_to "Enter", attractions_path, class: "startBtn", data: { turbolinks: false }%>
  </div>
</body>
